<form action="<%=session_url %>" method="post">
<label for="user_name">username:
<input type="text" name="user[user_name]" id="" value="">
</label>

<label for="password">password:
<input type="password" name="user[password]" id="" value="">
</label>

<input type="submit" value="Log In">


</form>